.features-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.features_card{
  background-color: var(--cafe-bg2);
  padding: 1rem;
  border-radius: 8px;
  border-left: 5px solid var(--cafe);
  margin-bottom: 10px;
}

.feature-title{
  color: var(--coffee);
  font-family: 'Lexend', sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.feature-subtitle{
  font-family: 'Lexend', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--secondary-hover);
}

.section-title {
  color: var(--cafe);
  font-family: 'Fredoka Semibold';
  font-size: 40px;
}