.title-section {
  font-size: 40px;
  color: var(--text-dark);
  font-family: 'Fredoka', sans-serif;
  margin-bottom: 2rem;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.features_card{
  background-color: var(--cafe-bg2);
  padding: 1rem;
  border-radius: 8px;
  border-left: 5px solid var(--cafe);
  margin-bottom: 10px;
}

.feature-title{
  color: var(--coffee);
  font-family: 'Lexend Semibold', sans-serif;
  font-size: 22px;
}

.feature-subtitle{
  font-family: 'Lexend Regular', sans-serif;
  font-size: 18px;
  color: var(--secondary-hover);
}

.section-title {
  color: var(--cafe);
  font-family: 'Fredoka Semibold';
  font-size: 40px;
}